body {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 0.95rem;
    height: 100%;
	margin: 0;
	word-break: keep-all;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 900;
	margin: 0;
}

#mainPage {
	position: relative;
	height: 100vh;
	background-color: black;
}

#message {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 50px;
	margin-right: 50px;
	font-size: 1.5rem;
	color: white;
	word-wrap: break-all;
}

#background {
	opacity: 0.7;
	background: url('../images/background.jpg');
	height: 100vh;
	margin: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#tabs { 
	height: calc(100vh - 24px);
	padding: 0;
	margin: 0;
}

.tablink {
	background-color: #555;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	width: 25%;
}

.tablink:hover {
	background-color: #777;
}

.tabcontent {
	color: white;
	display: none;
	height: 100%;
	background: pink;
}

.tabcontent > div {
	padding: 48px;
	padding-top: 120px;
}

button {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 0.95rem;
}

#counter {
	border: 5px solid white;
	border-radius: 5px;
}
